In [23]:
import pandas as pd
import gurobipy as gp
from gurobipy import GRB
import numpy as np
import gurobipy_pandas as gppd

# set intercative mode
gppd.set_interactive()

In [24]:
# importing data
hubs = pd.read_csv(r"D:\1. UTK PhD\Fall 23\IE 522\Final Project\OneDrive_1_12-5-2023\TX_hubs.csv")
network = pd.read_csv(r"D:\1. UTK PhD\Fall 23\IE 522\Final Project\OneDrive_1_12-5-2023\TX_network.csv")
plants = pd.read_csv(r"D:\1. UTK PhD\Fall 23\IE 522\Final Project\OneDrive_1_12-5-2023\TX_plants.csv")
roads = pd.read_csv(r"D:\1. UTK PhD\Fall 23\IE 522\Final Project\OneDrive_1_12-5-2023\TX_roads.csv")
suppliers = pd.read_csv(r"D:\1. UTK PhD\Fall 23\IE 522\Final Project\OneDrive_1_12-5-2023\TX_suppliers.csv")
railroads = pd.read_csv(r"D:\1. UTK PhD\Fall 23\IE 522\Final Project\OneDrive_1_12-5-2023\TX_railroads.csv")

In [25]:
hubs.set_index('hub', inplace=True)
hubs.head()

       index  latitude  longitude   invest  capacity
hub
17201      1  33.64844  -95.56841  3476219    300000
17218      2  33.64124  -96.60666  3476219    300000
17359      3  29.31990  -96.10283  3476219    300000
17372      4  30.75623  -98.67770  3476219    300000
17395      5  30.84636  -96.98711  3476219    300000

In [26]:
network.head()

   counties  hubs  plants  techs      demand
0       254    33     167      1  1476310602

In [27]:
plants.set_index('plant', inplace=True)
plants.head()

       index   latitude  longitude  tech     invest   capacity  yield
plant
541        1  30.220353 -97.740436     1  130956797  152063705    232
542        2  29.676724 -98.635234     1  130956797  152063705    232
543        3  33.760315 -96.559867     1  130956797  152063705    232
544        4  29.531920 -98.286901     1  130956797  152063705    232
545        5  29.688568 -98.562424     1  130956797  152063705    232

In [28]:
roads.set_index(['county','hub'], inplace=True)
roads.head()

              index  distance       cost
county hub
48001  17201      1  219.6090  40.580691
       17218      2  264.7658  47.661277
       17359      3  370.6750  64.267840
       17372      4  420.0082  72.003286
       17395      5  199.2915  37.394907

In [29]:
# cleaning dataset by removing NA values
suppliers.dropna(inplace=True)
suppliers.county = suppliers.county.astype(int)
suppliers.set_index('county',inplace=True)
suppliers.head()

        index        supply
county
48001     1.0  13131.971710
48003     2.0   1177.351950
48005     3.0   3854.618542
48007     4.0    308.182629
48009     5.0  19802.136510

In [30]:
railroads.set_index(['hub','plant'], inplace=True)
railroads.head()

             index     distance       cost  loading  capacity
hub   plant
17201 541        1   922.023251  17.095711  3066792    338000
      542        2  1160.842967  20.923752  3066792    338000
      543        3   186.924258   5.312809  3066792    338000
      544        4  1074.699073  19.542951  3066792    338000
      545        5  1160.842967  20.923752  3066792    338000

In [31]:
# create gurobi model
m = gp.Model()

In [32]:
### Variables
yhub = gppd.add_vars(m, hubs, name='yhub', vtype=GRB.BINARY, lb=0)
yplant = gppd.add_vars(m, plants, name='yplant', vtype=GRB.BINARY, lb=0)
ytruck = gppd.add_vars(m, roads, name='ytruck', vtype=GRB.BINARY, lb=0)
ytrain = gppd.add_vars(m, railroads, name='ytrain', vtype=GRB.BINARY, lb=0)

c_to_h = gppd.add_vars(m, roads, name='c_to_h', vtype=GRB.CONTINUOUS, lb=0) # Flow from county to hub
h_to_p = gppd.add_vars(m, railroads, name='h_to_p', vtype=GRB.CONTINUOUS, lb=0) # Flow from hub to plant

#x_out = m.addVar(vtype=GRB.CONTINUOUS, name='outside_supply', lb=0)

In [33]:
### parameters
"""
demand = network['demand]
yield = plants['yield']
cplant = plants['invest']
chub = hubs['invest']
"""
M = 500000
# fuel from external source
#c_out = True

In [34]:
### Objective
m.setObjective((plants['invest'] * yplant).sum() + (hubs['invest'] * yhub).sum() + (c_to_h * roads['cost']).sum() \
               + (ytrain * railroads['loading']).sum() + (h_to_p * railroads['cost']).sum(), 
               GRB.MINIMIZE)

In [35]:
### Highest possible demand that can be met by the network
#m.setObjective((yplant * plants['yield'] * h_to_p.groupby('plant').sum()).sum(), GRB.MAXIMIZE)

In [36]:
### Constraints
# flow conservation through hub
flow_hub = gppd.add_constrs(m,
                            c_to_h.groupby('hub').sum(),
                            GRB.EQUAL,
                            h_to_p.groupby('hub').sum(),
                            name='hub_flow'
                            )

In [37]:
# hub capacity
cap_hub = gppd.add_constrs(m,
                           c_to_h.groupby('hub').sum(),
                           GRB.LESS_EQUAL,
                           hubs['capacity']*yhub,
                           name='hub_capacity'
                           )

In [38]:
# train capacity
cap_train = gppd.add_constrs(m,
                           h_to_p,
                           GRB.LESS_EQUAL,
                           railroads['capacity']*ytrain,
                           name='train_capacity'
                           )

In [39]:
# supplier (county) capacity
cap_county = gppd.add_constrs(m,
                           (c_to_h).groupby('county').sum(),
                           GRB.LESS_EQUAL,
                           suppliers['supply'],
                           name='suppliers_supply'
                           )

In [40]:
# delivery by truck
truck_delivery = gppd.add_constrs(m,
                           c_to_h,
                           GRB.LESS_EQUAL,
                           M*ytruck,
                           name='truck_binary'
                           )

# delivery by train
train_delivery = gppd.add_constrs(m,
                           h_to_p,
                           GRB.LESS_EQUAL,
                           M*ytrain,
                           name='train_binary'
                           )

In [41]:
# plant capacity
cap_plant = gppd.add_constrs(m,
                            h_to_p.groupby('plant').sum(),
                            GRB.LESS_EQUAL,
                            (plants['capacity']/plants['yield'])*yplant,
                            name='plant_capacity'
                            )

In [42]:
# demand
demand_constraint = gppd.add_constrs(m,
                                     (h_to_p.groupby('plant').sum()).sum(),
                                     GRB.GREATER_EQUAL,
                                     network['demand']*0.47/232,
                                     name='network_demand'
                                     )

In [43]:
# write the model
m.write("supply_chain_biofuel.lp")

In [44]:
m.params.LogToConsole = 1
m.params.MIPgap = 0.07
m.params.ScaleFlag = 1
m.params.MIPFocus = 3
m.params.BranchDir = -1
#m.params.FlowCoverCuts = 2
m.params.Cuts = 3
m.params.NumericFocus = 1

m.update()
m.optimize()

Set parameter MIPGap to value 0.07
Set parameter ScaleFlag to value 1
Set parameter MIPFocus to value 3
Set parameter BranchDir to value -1
Set parameter Cuts to value 3
Set parameter NumericFocus to value 1
Gurobi Optimizer version 10.0.1 build v10.0.1rc0 (win64)

CPU model: 12th Gen Intel(R) Core(TM) i7-12700H, instruction set [SSE2|AVX|AVX2]
Thread count: 14 physical cores, 20 logical processors, using up to 20 threads

Optimize a model with 19892 rows, 27987 columns and 80687 nonzeros
Model fingerprint: 0xce5b2f5b
Variable types: 13894 continuous, 14093 integer (14093 binary)
Coefficient statistics:
  Matrix range     [1e+00, 7e+05]
  Objective range  [2e+00, 1e+08]
  Bounds range     [1e+00, 1e+00]
  RHS range        [8e-01, 3e+06]
Presolve removed 13899 rows and 8581 columns
Presolve time: 0.06s
Presolved: 5993 rows, 19406 columns, 52307 nonzeros
Variable types: 13695 continuous, 5711 integer (5711 binary)
Found heuristic solution: objective 2.520154e+09
Root relaxation presolve removed 5511 rows and 5511 columns
Root relaxation presolved: 482 rows, 13895 columns, 41285 nonzeros


Root relaxation: objective 7.373168e+08, 578 iterations, 0.03 seconds (0.04 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 7.3732e+08    0   83 2.5202e+09 7.3732e+08  70.7%     -    0s
H    0     0                    2.389861e+09 7.3732e+08  69.1%     -    0s
H    0     0                    2.261758e+09 7.4743e+08  67.0%     -    0s
H    0     0                    2.261731e+09 7.4743e+08  67.0%     -    0s
H    0     0                    2.131062e+09 7.4743e+08  64.9%     -    0s
     0     0 7.4825e+08    0  103 2.1311e+09 7.4825e+08  64.9%     -    0s
H    0     0                    1.517021e+09 7.4825e+08  50.7%     -    0s
H    0     0                    1.388143e+09 7.4834e+08  46.1%     -    0s
     0     0 7.4847e+08    0   94 1.3881e+09 7.4847e+08  46.1%     -    0s
     0     0 7.4847e+08    0   90 1.3881e+09 7.4847e+08  46.1%     -    0s
H    0     0                    1.081658e+09 7.5060e+08  30.6%     -    1s
     0     0 7.5060e+08    0   87 1.0817e+09 7.5060e+08  30.6%     -    1s
H    0     0                    9.527860e+08 7.5159e+08  21.1%     -    2s
     0     0 7.5159e+08    0   90 9.5279e+08 7.5159e+08  21.1%     -    2s
     0     0 7.5171e+08    0   99 9.5279e+08 7.5171e+08  21.1%     -    2s
     0     0 7.5176e+08    0   93 9.5279e+08 7.5176e+08  21.1%     -    2s
     0     0 7.5177e+08    0   88 9.5279e+08 7.5177e+08  21.1%     -    2s
     0     0 7.5319e+08    0  113 9.5279e+08 7.5319e+08  20.9%     -    3s
     0     0 7.5386e+08    0  106 9.5279e+08 7.5386e+08  20.9%     -    4s
H    0     0                    8.177205e+08 7.5406e+08  7.78%     -    4s
     0     0 7.5406e+08    0  108 8.1772e+08 7.5406e+08  7.78%     -    4s
     0     0 7.5417e+08    0  110 8.1772e+08 7.5417e+08  7.77%     -    4s
     0     0 7.5424e+08    0  120 8.1772e+08 7.5424e+08  7.76%     -    4s
     0     0 7.5426e+08    0  114 8.1772e+08 7.5426e+08  7.76%     -    4s
     0     0 7.5426e+08    0  119 8.1772e+08 7.5426e+08  7.76%     -    5s
     0     0 7.5466e+08    0  104 8.1772e+08 7.5466e+08  7.71%     -    6s
     0     0 7.5489e+08    0  112 8.1772e+08 7.5489e+08  7.68%     -    6s
     0     0 7.5494e+08    0  103 8.1772e+08 7.5494e+08  7.68%     -    7s
     0     0 7.5496e+08    0   98 8.1772e+08 7.5496e+08  7.68%     -    7s
     0     0 7.5497e+08    0  102 8.1772e+08 7.5497e+08  7.67%     -    7s
H    0     0                    8.164738e+08 7.5497e+08  7.53%     -    7s
     0     0 7.5513e+08    0   96 8.1647e+08 7.5513e+08  7.51%     -    8s
     0     0 7.5529e+08    0  111 8.1647e+08 7.5529e+08  7.49%     -    8s
     0     0 7.5533e+08    0  100 8.1647e+08 7.5533e+08  7.49%     -    9s
     0     0 7.5535e+08    0   91 8.1647e+08 7.5535e+08  7.49%     -    9s
     0     0 7.5553e+08    0   95 8.1647e+08 7.5553e+08  7.46%     -   10s
     0     0 7.5558e+08    0  113 8.1647e+08 7.5558e+08  7.46%     -   11s
     0     0 7.5560e+08    0   90 8.1647e+08 7.5560e+08  7.46%     -   11s
     0     0 7.5561e+08    0  105 8.1647e+08 7.5561e+08  7.45%     -   11s
     0     0 7.5575e+08    0  111 8.1647e+08 7.5575e+08  7.44%     -   13s
     0     0 7.5580e+08    0  103 8.1647e+08 7.5580e+08  7.43%     -   13s
     0     0 7.5584e+08    0  107 8.1647e+08 7.5584e+08  7.43%     -   13s
     0     0 7.5586e+08    0  121 8.1647e+08 7.5586e+08  7.42%     -   13s
H    0     0                    8.162537e+08 7.5586e+08  7.40%     -   14s
     0     0 7.5602e+08    0  103 8.1625e+08 7.5602e+08  7.38%     -   15s
     0     0 7.5607e+08    0  114 8.1625e+08 7.5607e+08  7.37%     -   15s
     0     0 7.5609e+08    0  116 8.1625e+08 7.5609e+08  7.37%     -   16s
     0     0 7.5616e+08    0  121 8.1625e+08 7.5616e+08  7.36%     -   17s
     0     0 7.5616e+08    0  121 8.1625e+08 7.5616e+08  7.36%     -   18s
H    0     0                    8.156694e+08 7.5616e+08  7.30%     -   19s
     0     2 7.5616e+08    0  121 8.1567e+08 7.5616e+08  7.30%     -   19s
     1     4 7.5619e+08    1  110 8.1567e+08 7.5616e+08  7.30%   477   20s
    29    44 7.5664e+08    5  135 8.1567e+08 7.5662e+08  7.24%  1415   25s
H   36    44                    8.141963e+08 7.5663e+08  7.07%  1217   25s
H   36    44                    8.141917e+08 7.5663e+08  7.07%  1217   25s
    71    86 7.5666e+08    8  104 8.1419e+08 7.5666e+08  7.07%   978   32s
H   78    86                    8.141729e+08 7.5666e+08  7.06%   931   32s
   120   135 7.5670e+08   11  117 8.1417e+08 7.5670e+08  7.06%   840   44s
   134   156 7.5693e+08   12   91 8.1417e+08 7.5670e+08  7.06%   875   45s
   200   224 7.5683e+08   18   78 8.1417e+08 7.5675e+08  7.05%   796   50s
   344   579 7.5731e+08   24   52 8.1417e+08 7.5681e+08  7.05%   614   56s
   706   909 7.5720e+08   20   63 8.1417e+08 7.5683e+08  7.04%   390   61s
  1146  1361 7.5915e+08   12   47 8.1417e+08 7.5684e+08  7.04%   312   68s
  1368  1700 7.5725e+08   26   50 8.1417e+08 7.5685e+08  7.04%   290   72s
  1713  1965 7.5913e+08   29   54 8.1417e+08 7.5686e+08  7.04%   263   76s
  1979  1966 7.5784e+08   30  121 8.1417e+08 7.5686e+08  7.04%   250   81s
  1996  1977 7.5688e+08   18  111 8.1417e+08 7.5686e+08  7.04%   247   85s
  2005  1983 7.5785e+08   42  133 8.1417e+08 7.5689e+08  7.04%   246   96s

Cutting planes:
  Gomory: 1
  Lift-and-project: 73
  Implied bound: 578
  MIR: 93
  Flow cover: 71
  Flow path: 40
  Network: 16
  RLT: 11
  Relax-and-lift: 14
  PSD: 23

Explored 2008 nodes (514508 simplex iterations) in 99.06 seconds (149.57 work units)
Thread count was 20 (of 20 available processors)

Solution count 10: 8.14173e+08 8.14192e+08 8.14196e+08 ... 1.38814e+09

Optimal solution found (tolerance 7.00e-02)
Best objective 8.141728540025e+08, best bound 7.571963090981e+08, gap 6.9981%

In [ ]:
# m.computeIIS()

In [45]:
hub_to_plant = [m.getVarByName(f"h_to_p[{i},{j}]").X for i in hubs.index for j in plants.index]
county_to_hub = [m.getVarByName(f"c_to_h[{i},{j}]").X for i in suppliers.index for j in hubs.index]
yplant = [m.getVarByName(f"yplant[{i}]").X for i in plants.index]
yhub = [m.getVarByName(f"yhub[{i}]").X for i in hubs.index]
ytrain = [m.getVarByName(f"ytrain[{i},{j}]").X for i in hubs.index for j in plants.index]
ytruck = [m.getVarByName(f"ytruck[{i},{j}]").X for i in suppliers.index for j in hubs.index]

In [46]:
cost_per_litre = m.getObjective().getValue()/(sum(hub_to_plant)*232)
print(cost_per_litre)

1.173386322460577

In [47]:
sum(ytruck)

8382.0

In [48]:
sum(county_to_hub)

2990801.650603257

In [49]:
sum(hub_to_plant)*232

693865982.9399999

In [50]:
suppliers['supply'].sum()*232

708383628.3169292

In [51]:
np.nonzero(hub_to_plant)

(array([ 501, 1115, 1323, 2002, 2405, 2505, 2806, 3327, 3741, 4841, 5144],
       dtype=int64),)

In [52]:
np.nonzero(county_to_hub)

(array([  30,   40,   96,  127,  151,  187,  226,  247,  271,  300,  345,
         385,  424,  444,  490,  498,  535,  576,  608,  643,  690,  748,
         787,  795,  840,  861,  902,  935,  964,  976, 1018, 1037, 1078,
        1103, 1144, 1171, 1218, 1243, 1273, 1294, 1327, 1372, 1400, 1441,
        1468, 1488, 1537, 1554, 1598, 1632, 1672, 1690, 1719, 1756, 1862,
        1867, 1888, 1936, 1961, 1994, 2024, 2053, 2107, 2134, 2173, 2197,
        2218, 2247, 2307, 2362, 2391, 2423, 2453, 2482, 2530, 2563, 2590,
        2621, 2670, 2684, 2713, 2755, 2779, 2808, 2841, 2845, 2882, 2915,
        2959, 2984, 3033, 3052, 3080, 3124, 3157, 3183, 3187, 3223, 3256,
        3283, 3316, 3363, 3406, 3435, 3487, 3528, 3559, 3579, 3604, 3649,
        3677, 3726, 3736, 3809, 3850, 3864, 3913, 3938, 3976, 4042, 4087,
        4120, 4144, 4165, 4202, 4219, 4238, 4260, 4318, 4330, 4359, 4392,
        4429, 4466, 4516, 4543, 4568, 4594, 4635, 4681, 4697, 4730, 4735,
        4782, 4801, 4848, 4873, 4912, 4920, 4990, 5023, 5052, 5097, 5143,
        5178, 5195, 5221, 5250, 5291, 5341, 5374, 5382, 5419, 5460, 5481,
        5518, 5563, 5593, 5632, 5657, 5698, 5739, 5772, 5791, 5815, 5869,
        5896, 5929, 5956, 5992, 6036, 6058, 6154, 6193, 6251, 6292, 6306,
        6339, 6383, 6463, 6490, 6531, 6548, 6574, 6630, 6663, 6696, 6715,
        6760, 6768, 6801, 6838, 6871, 6927, 6993, 7015, 7057, 7081, 7102,
        7135, 7164, 7216, 7246, 7267, 7296, 7333, 7378, 7406, 7428, 7473,
        7521, 7540, 7571, 7587, 7593, 7626, 7634, 7659, 7703, 7733, 7785,
        7804, 7828, 7870, 7915, 7936, 7975, 8008, 8041, 8080, 8100, 8129,
        8203, 8231, 8257, 8302, 8344, 8360], dtype=int64),)

In [53]:
# roads_copy = roads.copy()
# roads_copy['c_to_h'] = c_to_h.gppd.X.to_frame()
# roads_copy = roads_copy.groupby('county').sum()

In [54]:
# roads_copy['supply'] = suppliers['supply'].copy()

In [55]:
# vio_list = []
# for index, row in roads_copy.iterrows():
#     if row['c_to_h'] > row['supply']+0.0001:
#         vio_list.append(index)

In [56]:
# roads_copy.loc[vio_list]

Empty DataFrame
Columns: [index, distance, cost, c_to_h, supply]
Index: []

In [57]:
sum(hub_to_plant)*232

693865982.9399999

In [58]:
sum(yhub)

10.0

In [59]:
yhub

[-0.0,
 -0.0,
 -0.0,
 1.0,
 0.0,
 0.0,
 -0.0,
 1.0,
 -0.0,
 0.0,
 0.0,
 1.0,
 -0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 -0.0,
 1.0,
 -0.0,
 0.0,
 1.0,
 0.0,
 -0.0,
 0.0,
 0.0,
 -0.0,
 1.0,
 -0.0,
 1.0,
 -0.0,
 -0.0]

In [60]:
sum(yplant)

5.0